@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    body{
        height: 100vh;
        font-family: 'Josefin Sans', sans-serif;
    }
    h1{
        display: block;
        font-weight: bold;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: left;
        text-align: center;
        padding-bottom: 30px;
    }
    .container{
        display: block;
        text-align: center;
        width: 100%;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    }
    .voltar {
        text-align: start;
        padding: 5px;
        margin-top: 5px;
    }
    .voltar a {
        text-decoration: none;
        color: #000;
    }
    .voltar a:hover {
        color:#FF2253
    }
    form input{
        display: inline-block;
        padding: 8px;
        background-color: #fff;
        border: 1px solid #E6E6E6;
        margin-bottom: 17px;
        font-size: 15px;
        color: #1B3815;
        line-height: 1.2;
        font-weight: bold;
        cursor: pointer;
    }
    form label {
        display: none;
    }
    form a {
        display: block;
        margin-top: 15px;
        text-decoration: none;
        color:#000
    }
    form a:hover{
        cursor: pointer;
        color:#FF2253;
    }
    form button{
        padding: 0 20px;
        width: 160px;
        height: 42px;
        background-color: #57B846;
        font-size: 14px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        padding-top: 5px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        border:none;
        cursor: pointer;
    }
    form button:hover {
        background-color: #FF2253;
    }
    input:hover::placeholder {
        padding-left: 10px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
   input:focus::placeholder{
        opacity: 0;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
    input:focus{
        outline: none;
        border-color: #FF2253;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }

    @media screen and (min-width: 1024px){
        .container{
            display: flex;
            justify-content: space-evenly;
        }
    }