@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

body {
    font-family: 'Poppins';
    width: 100%;
    height: 100vh;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #FF2253;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #FFF7F4;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #FF2253;  /* creates padding around scroll thumb */
}
header:nth-child(1){
    margin: 15px;
}
#lista-cadastrados {
    display: flex;
    overflow-x: scroll;
}
.lista-vitrine {
    margin-right: 20px;
    margin-left: 20px;
}
.lista-vitrine img {
    width: 230px;
    height: 230px;
}
.lista-vitrine h2 {
    display: block;
    font-weight: 900;
    margin-bottom: 15px
}
.lista-vitrine p:nth-child(3){
    margin-bottom: 15px;
    font-weight: 700;
}
.lista-vitrine p:nth-child(4){
    font-size: 15px;
    margin-bottom: 15px;
}
.lista-vitrine p:nth-child(5){
    margin-bottom: 15px;
}
.lista-vitrine p:nth-child(6){
    font-weight: 700;
}
.categoria {
    position: relative;
    width: 115px;
    text-align: center;
    border-radius: 50px;
    background-color: #FFE9EE;
    font-weight: 900;
    top:-4%;
    left: 5%
}
@media screen and (min-width: 1024px){
    #lista-cadastrados {
        justify-content: center;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .vitrine-produtos{
        width: 100%;
        
      }
      #vitrine::-webkit-scrollbar {
          display: none;
      }
      #vitrine {
          width: 100%;
          flex-wrap: wrap;
      }
      .lista-vitrine {
          margin-bottom: 20px;
      }
      .lista-vitrine:hover{
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.15);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
      }

}